<div class="contain">
    <form action="/director" method="POST">
      
        <h1>Crear Director</h1>
      
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="nombres">Nombres:</label>
          <input
            type="text"
            id="nombres"
            name="nombres"
            class="form-control"
            placeholder="Ingrese los nombres del director"
            required
          />
        </div>
        <div class="col-md-6 form-group">
          <label for="apellidos">Apellidos:</label>
          <input
            type="text"
            id="apellidos"
            name="apellidos"
            class="form-control"
            placeholder="Ingrese los apellidos del director"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
          <input
            type="date"
            id="fecha_nacimiento"
            name="fecha_nacimiento"
            class="form-control"
            required
          />
        </div>
        <div class="col-md-6 form-group">
          <label for="cantidad_peliculas">Cantidad de Películas:</label>
          <input
            min="0"
            type="number"
            id="cantidad_peliculas"
            name="cantidad_peliculas"
            class="form-control"
            placeholder="Ingrese la cantidad de películas"
            required
          />
        </div>
      </div>
      <div id="btnGuardar" class="text-center">
        <button type="submit" class="btn btn-primary">Guardar Director</button>
      </div>
    </form>
  </div>
  <dialog id="errorDialog">
    <p id="mensajeErrorDialog">Todos los campos son obligatorios.</p>
    <button type="button" id="closeErrorDialog">Cerrar</button>
  </dialog>
  
  <script src="/js/director/create.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/css/director/create.css" type="text/css">